#div1{
    background-color:#f4f2f7;
    width:499px;
    height:709px;

}

#div2{
    background-color:#f4f2f7;
    width: 700px;
    height: 709px;
    margin-left: 499px;
    margin-top: -709px;
}
#head1{
    background-color:darkslateblue;
    color: white;
    padding-bottom: 36px;
    padding-top: 20px;
}
#table1{
    background-color:darkslateblue;
    color: white;
    padding-bottom: 0px;
    padding-top: 23px;
    width: 700px;
    padding-left: 72px;
    padding-right:132px ;

}
#td1{
    padding-left: 3px;
    padding-right: 64px;
}
#td2{
    padding-left: 3px;
    
}
#td3{
    padding-left: 3px;
}
#td4{
    padding-left: 2px;
}
#log1{
    background-color: darkblue;
    color: white;
}
#forg1{
    color:lightgrey;
}
#para1{
    color: darkblue;
    margin-left: 150px;
}
#img1{
    width: 400px;
    height: 200px;
    margin-left: 118px;
}


#head2{
    margin-left: 70px;
}
#head3{
    margin-left: 70px;
    margin-top: -15px;
}
#f1{
    width: 150px;
    height: 25px;
    margin-left: 70px;
}
#s1{
    width: 150px;
    height: 25px;
    margin-left: 7px; 
}
#m1{
    width: 320px;
    height: 25px;
    margin-left: 70px;
    margin-top: 7px;
}
#p1{
    width: 320px;
    height: 25px;
    margin-left: 70px;
    margin-top: 7px; 
}
#img2{
    width:10px;
    height: 10px;
    margin-left: 5px;
}
#b2{
    color: lightslategray;
    margin-left: 70px;    
}
#b1{
    margin-left: 70px;
    margin-top: 7px;

}
#g1{
    color: lightslategray;
    margin-left: 70px;
    margin-top: 15px; 
}
#male{
    margin-left: 70px;
    margin-top: 15px;
}
#female{
    margin-left: 11px;
}
#custom{
    margin-left: 15px;
}
#img3{
    width:10px;
    height: 10px;
    margin-left: 5px;
    margin-top: 13px;
}

#p2{
    color: lightslategray;
    margin-left: 70px;
    margin-right: 150px;
}
#b3{
    color: white;
    background-color: rgb(22, 188, 22);
    margin-left: 70px;
    margin-right: 100px;
    width: 132px;
    height: 34px;
    
    
}
 img3{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-bottom:-54px;

 }

 .cls2{
    margin-left:69px;
    margin-top: 5px;
    padding-right: 20px;
    padding-top: -3px;
    padding-bottom: px;
}

.cl3{
    margin-left:0px;
    margin-top: 8px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    
}

.cl4{
    margin-left:0px;
    margin-top: 3px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}
